<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159087805948-vlc96ok81q0c73ds0tuoh90iqaa4nk8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159087805948-vlc96ok81q0c73ds0tuoh90iqaa4nk8m</string>
	<key>API_KEY</key>
	<string>AIzaSyBEQwAklqFMjLjBPE0d2YCIw-asokhhE7s</string>
	<key>GCM_SENDER_ID</key>
	<string>159087805948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.OCR-VIN</string>
	<key>PROJECT_ID</key>
	<string>ocr-vin-c2f6d</string>
	<key>STORAGE_BUCKET</key>
	<string>ocr-vin-c2f6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159087805948:ios:23deb3138f223a75e71e79</string>
	<key>DATABASE_URL</key>
	<string>https://ocr-vin-c2f6d.firebaseio.com</string>
</dict>
</plist>